*{

    box-sizing: border-box;
}

body{
    background-color: rgb(52, 121, 153);
}

.container{
    text-align: center;
    padding-top: 50px;
}

.container h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(56, 25, 128);
}

input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(214, 207, 207, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }